<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <title>Repositorio com Geddy</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />

	<%- scriptLink('jquery.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('bootstrap.min.js', {type:'text/javascript'}) %>
	<%- scriptLink('config/init.js', {type: 'text/javascript'}) %>
	<%- scriptLink('/libs/data-tables/media/js/jquery.dataTables.js', {type: 'text/javascript'}) %>
	<%- scriptLink('/libs/jquery.filthypillow/moment.js', {type: 'text/javascript'}) %>
	<%- scriptLink('/libs/checkboxtree/jquery-ui-1.8.12.custom.min.js', {type: 'text/javascript'}) %>
	<%- scriptLink('/libs/checkboxtree/jquery.checkboxtree.min.js', {type: 'text/javascript'}) %>
	<%- scriptLink('/libs/jquery.filthypillow/jquery.filthypillow.min.js', {type: 'text/javascript'}) %>
	<%- scriptLink('/libs/bootstrap-transfer-master/js/bootstrap-transfer.js', {type: 'text/javascript'}) %>
	
	
    <%- styleLink('bootstrap.min.css', {rel:'stylesheet'}) %>
    <%- styleLink('bootstrap.responsive.min.css', {rel:'stylesheet'}) %>
	<%- styleLink('/libs/jquery.filthypillow/jquery.filthypillow.css', {rel: 'stylesheet'}) %>
	<%- styleLink('/libs/lineicons/style.css', {rel:'stylesheet'}) %>
	<%- styleLink('/libs/font-awesome/css/font-awesome.css', {rel:'stylesheet'}) %>
	<%- styleLink('/libs/data-tables/media/css/jquery.dataTables.css', {rel:'stylesheet'}) %>
	<%- styleLink('/libs/bootstrap-transfer-master/css/bootstrap-transfer.css', {rel:'stylesheet'}) %>
	<%- styleLink('/libs/checkboxtree/css/smoothness/jquery-ui-1.8.12.custom.css', {rel:'stylesheet'}) %>
	<%- styleLink('jquery.checkboxtree.min.css', {rel:'stylesheet'}) %>
	<%- styleLink('style.css', {rel:'stylesheet'}) %>
	<%- styleLink('style-responsive.css', {rel:'stylesheet'}) %>
	
  </head>

