<div class="hero-unit">
  <form id="perfil-form" class="form-horizontal" action="/perfils/<%= params.id %>?_method=PUT" method="POST">
    <fieldset>
      <legend>Update this Perfil</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>
	  
	  <%- partial('form', {perfil: perfil, entidades: entidades, permissaos: permissaos}) %>
     
      <div class="form-actions">
        <%- contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'}) %>
        <%- contentTag('button', 'Remove', {type: 'submit', formaction: '/perfils/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'}) %>
      </div>
    </fieldset>
  </form>
</div>
